.container {
  max-width: 120rem;
  min-height: 80vh;
  background-color: #fff;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  margin: 8rem auto;
}

@media only screen and (max-width: 75em) {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.content {
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-grey-light-1);
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  font-size: 1.4rem;
  border-bottom: var(--line);
}

@media only screen and (max-width: 31.25em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  flex: 0 0 60%;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  margin-right: 4.5rem;
}

@media only screen and (max-width: 31.25em) {
  .description {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  row-gap: 3.5rem;
  flex-direction: column;
  align-items: center;
}
