/* Animation */
@keyframes pluse-rate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 5rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/* Logo */
.logo {
  height: 3.6rem;
  margin-left: 3.2rem;
}

/* Search */
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  margin-right: -3rem;
  transition: all 0.2s;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-dark-2);
}

.search__btn {
  border: none;
  background-color: var(--color-grey-light-2);
}

.search__btn:focus {
  outline: none;
  background-color: var(--color-grey-light-2);
}

.search__btn:active {
  transform: translateY(2px);
}

.search__icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-grey-dark-1);
}

/* User Nav */
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.user-nav > * {
  height: 100%;
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-grey-dark-2);
}

.user-nav__notification {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  font-weight: 600;
  color: white;
  position: absolute;
  top: 1rem;
  left: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-nav__user-photo {
  height: 3.2rem;
  margin-right: 2rem;
  border-radius: 50%;
}

/* Side Nav */
.side-nav {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}

.side-nav__item {
  z-index: 10;
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    width: 100%;
    justify-content: center;
  }
}

.side-nav__item::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  background-color: var(--color-primary);
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: transform 1s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}

.side-nav__item:hover::before,
.side-nav__item:active::before {
  width: 100%;
  transform: scaleY(1);
}

.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}

.side-nav__item--active {
  background-color: var(--color-primary);
}

.side-nav__link {
  padding: 1.5rem 3rem;
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 31.25em) {
  .side-nav__link {
    flex-direction: column;
  }
}

.side-nav__icon {
  width: 2.2rem;
  height: 2.2rem;
  fill: currentColor;
  margin-right: 2rem;
}

@media only screen and (max-width: 31.25em) {
  .side-nav__icon {
    margin-right: 0;
  }
}

.legal {
  color: var(--color-grey-light-1);
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
}

@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

/* Hotel View - Gallery */
.gallary {
  display: flex;
}

.gallary__photo {
  width: 100%;
  display: block;
}

/* Overview */
.overview {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-grey-light-3);
}

.overview__heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 0.8rem 1.6rem;
}

@media only screen and (max-width: 31.25em) {
  .overview__heading {
    font-size: 2rem;
    padding: 0.4rem 1.6rem;
  }
}

.overview__stars {
  display: flex;
  align-items: center;
  margin-right: auto;
  column-gap: 0.5rem;
}

.overview__icon-star,
.overview__icon-location {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-primary);
}

.overview__location {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.overview__rating {
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
  padding: 1rem 2.5rem;
  margin-left: 3rem;
}

@media only screen and (max-width: 31.25em) {
  .overview__rating {
    padding: 0.5rem 2rem;
    text-align: center;
  }
}

.overview__rating-average {
  font-size: 2.6rem;
  font-weight: 300;
}

@media only screen and (max-width: 31.25em) {
  .overview__rating-average {
    font-size: 2rem;
  }
}

.overview__rating-count {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: -0.5rem;
}

/* Button Inline */
.btn-inline {
  display: inline-block;
  font-size: inherit;
  border: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s;
}

.btn-inline span {
  margin-left: 3px;
  transition: all 0.2s;
}

.btn-inline:hover {
  color: black;
}

.btn-inline:hover span {
  margin-left: 8px;
}

.btn-inline:focus,
.btn-inline:active {
  outline: none;
  box-shadow: 3px 3px 50px 1px currentColor;
  animation: pluse-rate 1s infinite;
}

/* Paragraph */
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

/* List */
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  flex: 0 0 50%;
}

.list__item::before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.7rem;
  display: inline-block;
  background-color: var(--color-primary);
  mask-image: url(/img/chevron-thin-right.svg);
  mask-size: cover;
}

/* Recommend */
.recommend {
  display: flex;
  align-items: center;
}

.recommend__count {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);
  margin-right: auto;
}

.recommend__friends {
  display: flex;
}

.recommend__photo {
  box-sizing: content-box;
  border: 4px solid #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.recommend__photo:not(:last-child) {
  margin-right: -1.5rem;
}

/* Reviews */
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  position: relative;
  overflow: hidden;
}

.review__text {
  position: relative;
  z-index: 10;
  margin-bottom: 2rem;
}

.review::before {
  content: "\201C";
  font-family: sans-serif;
  position: absolute;
  top: 7.5rem;
  left: 1rem;
  line-height: 1px;
  font-size: 20rem;
  color: var(--color-grey-light-2);
  z-index: 1;
}

.review__user {
  display: flex;
  align-items: center;
}

.review__photo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  text-transform: uppercase;
  color: var(--color-grey-dark-3);
  font-size: 1.2rem;
  font-weight: 600;
}

.review__user-date {
  font-size: 1.1rem;
}

.review__rating {
  color: var(--color-primary);
  font-size: 2.8rem;
  font-weight: 300;
}

/* CTA */
.cta {
  padding: 3rem 0;
  text-align: center;
}

.cta__heading {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

/* Button */
.btn {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  overflow: hidden;
  position: relative;
  border-radius: 100px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}

.btn > * {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.btn:hover {
  background-image: linear-gradient(
    to left,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
}

.btn__visible {
  padding: 2rem 7.5rem;
}

.btn__invisible {
  position: absolute;
  padding: 2rem 0;
  top: -100%;
  right: 0;
}

.btn:hover .btn__visible {
  transform: translateY(100%);
}

.btn:hover .btn__invisible {
  top: 0;
}

.btn:focus {
  outline: none;
  animation: pluse-rate 1s infinite;
}
