/////////////////////////
/// animation

@keyframes pluse-rate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 5rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/////////////////////////
/// logo
.logo {
  height: 3.6rem;
  margin-left: 3.2rem;
}
/////////////////////////
/// search
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__input {
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    margin-right: -3rem;
    transition: all 0.2s;
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-dark-2);
    }
  }

  &__btn {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
      background-color: var(--color-grey-light-);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-grey-dark-1);
  }
}

/////////////////////////
/// user nav
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  & > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }
  &__icon-box {
    position: relative;
  }
  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-dark-2);
  }
  &__notification {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 1rem;
    left: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-photo {
    height: 3.2rem;
    margin-right: 2rem;
    border-radius: 50%;
  }
}

/////////////////////////
/// side bar
.side-nav {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 3.5rem;

   @media only screen and (max-width:$bp-medium) {
     flex-direction: row;
     justify-content: space-between;
     margin:0 ;   
    }

  &__item {
    z-index: 10;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
     @media only screen and (max-width:$bp-medium) {
      width: 100%;   
      justify-content: center;
    }

  }
  &__item::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 1s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  }
  &__item:hover::before,
  &__item:active::before {
    width: 100%;
    transform: scaleY(1);
  }
  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__item--active {
    background-color: var(--color-primary);
  }

  &__link {
    padding: 1.5rem 3rem;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
     @media only screen and (max-width:$bp-small) {
      flex-direction: column;
      // text-align: center;
    }
  }
  &__icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: currentColor;
    margin-right: 2rem;
     @media only screen and (max-width:$bp-small) {
      margin-right: 0;
    }
  }
}
.legal {
  color: var(--color-grey-light-1);
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width:$bp-medium) {
      display: none;    
    }
}

/////////////////////////
/// hotel view

.gallary {
  display: flex;
  &__photo {
    width: 100%;
    display: block;
  }
}

/////////////////////////
/// overview
.overview {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-grey-light-3);
  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.8rem 1.6rem;

     @media only screen and (max-width:$bp-small) {
       font-size: 2rem;
         padding: 0.4rem 1.6rem;
    }

  }
  &__stars {
    display: flex;
    align-items: center;
    margin-right: auto;
    column-gap: 0.5rem;
  }
  &__icon-star,
  &__icon-location {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    column-gap: 0.6rem;
  }
  &__icon-location {
  }

  &__rating {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    padding: 1rem 2.5rem;
    margin-left: 3rem;

     @media only screen and (max-width:$bp-small) {
      padding: 0.5rem 2rem;
      text-align: center;
    }
  }
  &__rating-average {
    font-size: 2.6rem;
    font-weight: 300;
     @media only screen and (max-width:$bp-small) {
      font-size: 2rem;
    }
  }
  &__rating-count {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -0.5rem;
  }
}

.btn-inline {
  display: inline-block;
  font-size: inherit;
  border: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s;
  & span {
    margin-left: 3px;
    transition: all 0.2s;
  }
  &:hover {
    color: black;
    & span {
      margin-left: 8px;
    }
  }
  &:focus,
  &:active {
    outline: none;
    box-shadow: 3px 3px 50px 1px currentColor;
    animation: pluse-rate 1s infinite;
  }
}

/////////////////////////
/// paragraph
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}
/////////////////////////
/// list
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  flex-wrap: wrap;
  &__item {
    flex: 0 0 50%;
  }
  &__item::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.7rem;
    display: inline-block;
    background-color: var(--color-primary);
    mask-image: url(/img/chevron-thin-right.svg);
    mask-size: cover;
  }
}
/////////////////////////
/// recommend
.recommend {
  display: flex;
  align-items: center;
  &__count {
    font-size: 1.2rem;
    color: var(--color-grey-dark-3);
    margin-right: auto;
  }
  &__friends {
    display: flex;
  }
  &__photo {
    box-sizing: content-box;
    border: 4px solid #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}
/////////////////////////
/// reviews
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  position: relative;
  overflow: hidden;
  &__text {
    position: relative;
    z-index: 10;
    margin-bottom: 2rem;
  }
  &::before {
    content: "\201C";
    font-family: sans-serif;
    position: absolute;
    top: 7.5rem;
    left: 1rem;
    line-height: 1px;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    z-index: 1;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  &__user-box {
    margin-right: auto;
  }
  &__user-name {
    text-transform: uppercase;
    color: var(--color-grey-dark-3);
    font-size: 1.2rem;
    font-weight: 600;
  }
  &__user-date {
    font-size: 1.1rem;
  }
  &__rating {
    color: var(--color-primary);
    font-size: 2.8rem;
    font-weight: 300;
  }
}

/////////////////////////
/// cta
.cta {
  padding: 3rem 0;
  text-align: center;
  &__heading {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
  }
}
.btn {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  overflow: hidden;
  position: relative;
  border-radius: 100px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  & > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
  }
  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }
  &__visible {
    padding: 2rem 7.5rem;
  }
  &__invisible {
    position: absolute;
    padding: 2rem 0;
    // background-color: aqua;
    top: -100%;
    right: 0;
  }
  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }

  &:focus{
    outline: none;
    animation: pluse-rate 1s infinite;
  }
}
